<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<div *ngIf="isLoading" class="loading">Loading...</div>
 <div *ngIf="!errorMessage" class="product-list" >

  @for (product of produtos; track product.id) {
  <div  class="product-card">
    
    <img [src]="product.image" alt="{{ product.title }}" />
    <h3>{{ product.title }}</h3>
    <p>Preço: R$ {{ product.price | number: '1.2-2' }}</p>
    <a [routerLink]="['/products', product.id]" class="btn">View Details</a>
  </div>
}
</div>
